<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MySFR Project</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Recommanded by [engine]</h1>
				<p>Based on your interest in [author]</p>
				<div>Certainty: <span>X %</span></div>
			</header>

			<main>
				<article>
					<img src="https://placehold.it/800x300" alt="" />
					<div>kicker</div>
					<h2>Title of the article</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
						exercitationem rem quisquam itaque aspernatur id quis, nam, soluta
						optio amet totam dolorem officiis, reiciendis animi excepturi
						voluptatibus voluptatum. Dolorum, nulla.
					</p>
					<div>Metadatas</div>
				</article>
				<div class="action-buttons">
					<button class="like">Like</button>
					<button class="unlike">Unlike</button>
				</div>
				{% if recommender is defined %}
				{{ dump(recommender) }}
				{% endif %}
			</main>
		</div>
	</body>
</html>
