<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MySFR Project</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<div class="banner">
				<img src="logo.png" alt="SRF" class="logo" />
				<h1>News</h1>
			</div>
			<ul>
				<li>My SRF</li>
			</ul>
		</header>

		<main>
			<div class="wrapper">
				<div class="info">
					<h2>Personalize mySRF</h2>
					<strong>1/10</strong>
				</div>

				<div class="articles">
					{% for article in recommender.articles %}
					<article {% if loop.index == 2 %}class="next"{% elseif loop.index > 2 %}class="hidden"{% endif %}>
						<img src="{{ article.info.image.variations["480ws"] }}" alt="" />
						<div class="body">
							<div class="mark">{{ article.info.kicker }}</div>
							<h2>{{ article.info.title }}</h2>
							<div class="meta">With video</div>
						</div>
					</article>
					{% endfor %}

				</div>

				<div class="cta">
					<h3>Are you interested in this article ?</h3>
					<div class="action-buttons">
						<button class="like"></button>
						<button class="unlike"></button>
					</div>
					<button class="big-button">Finish</button>
				</div>
			</div>
		</main>

		<script>
			let transition = () => {
				let article = document.querySelector("article");
				let next = document.querySelector("article.next");
				let hidden = document.querySelector("article.hidden");

				article.classList.add("bye");
				next.classList.add("hello");
				next.classList.remove("next");
				hidden.classList.remove("hidden");
				hidden.classList.add("next");
				setTimeout(() => {
					article.remove();
				}, 200);
			};

			let el = document.querySelector("button.unlike");
			el.addEventListener("click", (event) => {
				transition();
			});
			let el2 = document.querySelector("button.like");
			el2.addEventListener("click", (event) => {
				transition();
			});
		</script>
	</body>
</html>
